.container {
    /* max-width: 1400px; */
    width: 100%;
    margin: 0;
    padding: 0 15px;
}

/* For Mobile 540px - SMall */
@media screen and (max-width: 560px) {
    .item1, .item2, .item4, .progresspercent, .sectiontwo, .sectionone, .loremfe, .qoute {
        float: none;
        display: none;
    }
    .grid-container, .whome {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex: 25%;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .slide-area, .aboutme, .slide-item{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex: 25%;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .hire {
        margin-bottom: 20px;
        justify-content: center;  
    }
    .sectionthree {
        width: 100%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex: 25%;
        flex-direction: column;
        justify-content: center;
    }
    .flip-card-before {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex: 50%;
        flex-direction: column;
        width: 50%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .slideimg, .qoutedot {
        flex-wrap: wrap;
        flex: 25%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-shrink: 1;
    }

}

/* For ipad 750px	 */
/* @media screen and (max-width: 750px) {
    .item1, .item2, .item4, .item5 {
        display: none;
    }
    .projects {
        display: none;
    }
    .aboutme {
        display: none;
    }
    .feedback {
        display: none;
    }
    .team {
        display: none;
    }
    .contactinfo {
        display: none;
    }
} */
/* for desktop 980px	 */
/* @media screen and (max-width: 980px) {
    .body {
      background-color: rgb(247, 212, 115);
    }
} */
