* {
margin: 0 auto;
padding: 0;
box-sizing: border-box;
}
.container {
max-width: 1500px;
width: 100%;
/* padding-top: 27px; */
}
.slide-area {
    max-width: 1500px;
    width: 20%;
}
/* started sliders */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
/* border-radius: 50%; */
display: inline-block;
transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: #717171;
}
/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
/* ended sliders */
/* started grids */

.item1 { 
    grid-area: headerl;
    display: flex;
    height: 384px;
}
.item2 { 
    grid-area: headerr; 
    position: relative;
    width: 240px;   
    top: -13%;
    transform: translateX(52px);
}
.item3 { 
    grid-area: main; 
    
}
.item4{
    grid-area: empty; 
}
.item5 { 
    grid-area: footerl; 
    display: flex;
    justify-content: flex-end;
    padding-bottom: 47px;
}
.right-t {
    font-size: 158.3px;

}
.right-b{
    color: #373737;
    font-size: 43.17px;
    position: absolute;
    top: 22%;
    transform: translateX(-17px);
    transition: .1s;
}
.right-b:hover{
    color: #E93656;
}
.grid-container {
  display: grid;
  background-color: #DDDDDD;
  grid-template-areas:
    'headerl header headerr'
    'empty main main'
    'empty footer footerl';
}
.l-side span{
    font-family: 'Poppins-ExtraBold';
    color: #0081FF;
}

.left-t{
    display: inline-block;
    font-family: 'Poppins-ExtraBold';
    font-size: 40px;
}
.left-t:hover{
    color: #E93656;
}

.left-b{
    font-family: 'Montserrat-Regular';
    font-size: 13px;
}

.r-side{
    font-family: 'Poppins-ExtraBold';
    
}

.info {
    height: 292px;
    padding-bottom: 40px;

}
.info span {
    display: flex;
    justify-content: space-between;
}
/* end grid */
/* start headline */
.satisfication div {
    width: 330px;
    height: 6px;
    margin-top: 10px;
    border-radius: 28px;
    background-color: #E93656;
    margin-bottom: 47px;
}
.persona-1 {
    font-family: 'Regular';
    font-size: 49.7px;
}
.persona-2 {
    font-family: 'Bold';
    font-size: 71px;
}
.persona-3 {
    font-family: 'Regular';
    font-size: 23.29px;
}
.satisfication span {
    font-family: 'Montserrat-Bold';
    font-size: 24px;
}
.pink {
    color: #E93656;
}
/* end */
/* start second page */
.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: inline-flex; */
    flex-direction: row;
}
.whome {
    max-width: 250px;
    width: 100%;
    direction: rtl;
    padding-top: 83px;
    align-items: center;
    /* margin: 0;  */
}
.slide-area {
    align-items: center;
    justify-content: center;
    max-width: 250px;
    width: 100%;
    /* margin: 0;  */
}
.lorem {
    font-family: 'Muli-Regular';
    font-size: 15px;
    color: #555555;
    width: 334px;
    padding-bottom: 60px;
}
.name {
    font-size: 40px;
    font-family: 'Bold';
    padding-bottom: 6px;
}
.field {
    color: #DAAE19;
    font-size: 14px;
    font-family: 'Muli';
    padding-bottom: 33px;
}
.hire {
    padding: 13px 40px 17px 50px;
    font-family: 'Bold';
    font-size: 15px;
    color: white;
    border: none;
    background-color: #E93656;
    cursor: pointer;
}
/* start onscroll */

.progresspercent{
    margin-left: 40px;
    /* margin: 0;   */
    max-width: 250px;
    width: 100%;
}
.progressbar{
    width: 300px;
    /* margin: 0; */
}
.progressline{
    width: 100%;
    height: 10px;
    background-color: #F0F0F0;
    
}
.lineprogres{
    height: 100%;
    margin-top: 10px;
    background-color:#E93656;
    opacity: -1;
    transition: .5s;
    left: 0;
    margin: 0;
}
.barcont{
    margin-bottom: 10px;
    font-family: 'Bold'; 
    font-size: 20px;
}
h3 {
    color: #555555;
}
h3 span{
    color:#E93656;
}
@media screen and (max-width: 320px) 
{
    div.progresspercent
    {
        margin: 0 auto;
    }
}
/* END */
/* My Contact DIV */
.contact {
    display: flex;
    
}
.mycontact{
    display: flex;
    background-color: #131A36;
    height: 210px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.circle{
    height: 90px;
    width: 90px;
    background-color: #131A36;
    border-radius: 100%;
    display: inline-block;
    border: 2px dashed red;
    text-align: center;
    padding: 23px;
}
.circle i {
    color: #FFFFFF;

}
.circle:hover{
    background-color: #E93656;
    border: 2px solid #E93656;
    cursor: pointer;
}
.mycontact h3 {
    font-family: 'Bold';
    color: #FFFFFF;
    font-size: 25px;
}
.mycontact span {
    font-family: 'Muli';
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
}   
.phone {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start; */
    padding-left: 29px;
}

.address {
    display: flex;
    flex-direction: column;
    padding-left: 29px;

}
.address h3 {
    margin: 0;
}
.email {
    display: flex;
    flex-direction: column;
    padding-left: 29px;

}
.sectionone {
    display: flex;
    padding-right: 41px;
    align-items: center;
}
.sectiontwo {
    display: flex;
    padding-left: 51px;
    align-items: center;
}
.sectionthree {
    display: flex;
    padding-left: 51px;
    align-items: center;
}
.sectionthree h3 {
    margin: 0;
}
/* END of the section Mycontact */
/* Start Section skills/services */
.services {
    margin: 200px 0 160px;
    display: flex;
    justify-content: center;

}
.flip-card-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
}
.flip-card-before {
    width: 285px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 10px 10px;
}
.flip-card-before:hover .flip-card-after,
.flip-card-before:active .flip-card-after{
    opacity: 1;
}
.flip-card-after {
    opacity: 0;
    position: absolute;
    width: 285px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #15263E;
}
.flip-card-after h3 {
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Bold';
    padding-top: 30px;
}
.flip-card-after p {
    margin-top: 19px!important;
    color: #ECECEC;
    text-align: center!important;
    width: 80%;
    font-family: 'Muli';
}
.flip-card-before h3 {
    padding-top: 30px;
}
/* END Skills/services */
/* Start Feedback */
.feedslide {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border: 2px solid #FFFFFF;
    margin: 10px;
    /* display: block; */
    /* align-items: center;
    justify-content: center; */
}
.circlefe {
    height: 170px;
    width: 170px;
    /* background-color: transparent; */
    border: 2px dashed white;
    padding: 13px;
    /* align-items: center; */
    border-radius: 100%;
    margin-right: 50px;
    /* DONE */
}
.feedback {
    background-image: url('/images/background.jpg');
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
    /* DONE */
}
.loremfe {
    font-family: 'Roboto-Light';
    font-size: 15px;
    color: #555555;
    max-width: 497px;
    height: 78px;
    margin-right: 51.16px;
    direction: rtl;
    /* justify-content: center;
    align-items: center; */
    /* DONE */
}
.com {
    justify-content: center;
    max-width: 1200px;
    cursor: pointer;
    align-items: center;

/* DONE */
}
.qoutedot {
    /* align-items: center; */
    margin-left: 10px;
}
.quoteone {
    color: #E93656;
    font-family: 'Roboto-Regular';
    font-size: 15px;
    margin-top: 38px;
    /* DONE */
}
.qoutep {
    font-family: 'Bold';
    font-size: 28px;
    color: #FFFFFF;
    margin-top: 9px;
    /* DONE */
}
.slideimg {
    height: 140px;
    width: 140px;
    border-radius: 100%;
}
.qoute {
    margin-right: 50px;
    display: block;
    /* DONE */
}
.fas {
    width: 39px;
    height: 26px;
    color: white;
    /* DONE */
}
.feedslide:hover {
    border: 2px solid #E93656;
}
/* END Feedback */
/* Start My Projects */
.projects{
    padding-top: 114px;
}

.projectlist{
    display: flex;
    max-width: 1200px;
    padding-top: 55px;
}

.box {
    float: left;
    position: relative;
    height: 350px;
    width: 300px;
    display: none;
    background-color: #555555;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 10px 10px;
    text-align: center;
}

.box span{
    font-family: 'Bold';
    font-size: 23px;
    color: white;
}

.box i{
    display: block;
    color: white;
    text-align: center;
    padding: 105px 0 17px;
}
.box i:hover{
    color: #E93656;
}

.headline{
    font-family: 'Bold';
    font-size: 70px;
    color: #2E2E2E;
    text-align: center;
}

.projectBar{
    background-color: #15263E;
    color: white;
    width: 240px;
    height: fit-content;
}
.show{
    display: block;
}

.prBtn{
    display: block;
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    background-color: #15263E;
    cursor: pointer;
    color: white;
}

.prBtn:hover{
    background-color: #E93656;
}


/* back side card flip  */

.backside{
    opacity: 0;
    position: absolute;
    background-color: #15263E;
    float: left;
    height: 350px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* margin: 0 0 10px 10px; */
    text-align: center;
    margin-top: -67%;

}


.backside span{
    font-family: 'Bold';
    font-size: 23px;
    color: black;
}

.backside i{
    display: block;
    color: black;
    text-align: center;
    padding: 105px 0 17px;
}
.backside work ideas i:hover{
    color: #E93656;
}


.box:hover .backside,
.box:active .backside{
    opacity: 1;
}

/* END Project */
/* Start Articles */
.title h2{
    font-family: 'Bold';
    font-size: 70px;
    color: #2E2E2E;
    text-align: center;
}

.title h6{
    color: #2ED279;
    font-family: 'Bold';
    font-size: 13px;
    margin-top: 170px;
    text-align: center;
}
.blackarrow {
    height: 123px;
    width: 590px;
    background-color: #15263E;
}
.blackarrow p{
    color: #E93656;
    font-size: 30px;
    font-family: 'Bold';
}
.blank{
    background-color: yellow;
    padding: 20px;
    display: none;
}
.articleone:hover .blank {
    display: block;
  }
.articletwo:hover .blank {
display: block;
}
.articlethree:hover .blank {
display: block;
}
.articleone, .articletwo, .articlethree {
    display: flex;
}