* {
margin: 0 auto;
padding: 0;
box-sizing: border-box;
}
.container {
max-width: 1500px;
width: 100%;
/* padding-top: 27px; */
}
.slide-area {
    max-width: 1500px;
    width: 20%;
}
/* started sliders */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
/* border-radius: 50%; */
display: inline-block;
transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: #717171;
}
/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
/* ended sliders */
/* started grids */

.item1 { 
    grid-area: headerl;
    display: flex;
    height: 384px;
}
.item2 { 
    grid-area: headerr; 
    position: relative;
    width: 240px;   
    top: -13%;
    transform: translateX(52px);
}
.item3 { 
    grid-area: main; 
    
}
.item4{
    grid-area: empty; 
}
.item5 { 
    grid-area: footerl; 
    display: flex;
    justify-content: flex-end;
    padding-bottom: 47px;
}
.right-t {
    font-size: 158.3px;

}
.right-b{
    color: #373737;
    font-size: 43.17px;
    position: absolute;
    top: 22%;
    transform: translateX(-17px);
    transition: .1s;
}
.right-b:hover{
    color: #E93656;
}
.grid-container {
  display: grid;
  background-color: #DDDDDD;
  grid-template-areas:
    'headerl header headerr'
    'empty main main'
    'empty footer footerl';
}
.l-side span{
    font-family: 'Poppins-ExtraBold';
    color: #0081FF;
}

.left-t{
    display: inline-block;
    font-family: 'Poppins-ExtraBold';
    font-size: 40px;
}
.left-t:hover{
    color: #E93656;
}

.left-b{
    font-family: 'Montserrat-Regular';
    font-size: 13px;
}

.r-side{
    font-family: 'Poppins-ExtraBold';
    
}

.info {
    height: 292px;
    padding-bottom: 40px;

}
.info span {
    display: flex;
    justify-content: space-between;
}
/* end grid */
/* start headline */
.satisfication div {
    width: 330px;
    height: 6px;
    margin-top: 10px;
    border-radius: 28px;
    background-color: #E93656;
    margin-bottom: 47px;
}
.persona-1 {
    font-family: 'Regular';
    font-size: 49.7px;
}
.persona-2 {
    font-family: 'Bold';
    font-size: 71px;
}
.persona-3 {
    font-family: 'Regular';
    font-size: 23.29px;
}
.satisfication span {
    font-family: 'Montserrat-Bold';
    font-size: 24px;
}
.pink {
    color: #E93656;
}
/* end */
/* start second page */
.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: inline-flex; */
    flex-direction: row;
}
.whome {
    max-width: 250px;
    width: 100%;
    direction: rtl;
    padding-top: 83px;
    align-items: center;
    /* margin: 0;  */
}
.slide-area {
    align-items: center;
    justify-content: center;
    max-width: 250px;
    width: 100%;
    /* margin: 0;  */
}
.lorem {
    font-family: 'Muli-Regular';
    font-size: 15px;
    color: #555555;
    width: 334px;
    padding-bottom: 60px;
}
.name {
    font-size: 40px;
    font-family: 'Bold';
    padding-bottom: 6px;
}
.field {
    color: #DAAE19;
    font-size: 14px;
    font-family: 'Muli';
    padding-bottom: 33px;
}
.hire {
    padding: 13px 40px 17px 50px;
    font-family: 'Bold';
    font-size: 15px;
    color: white;
    border: none;
    background-color: #E93656;
    cursor: pointer;
}
/* start onscroll */

.progresspercent{
    margin-left: 40px;
    /* margin: 0;   */
    max-width: 250px;
    width: 100%;
}
.progressbar{
    width: 300px;
    /* margin: 0; */
}
.progressline{
    width: 100%;
    height: 10px;
    background-color: #F0F0F0;
    
}
.lineprogres{
    height: 100%;
    margin-top: 10px;
    background-color:#E93656;
    opacity: -1;
    transition: .5s;
    left: 0;
    margin: 0;
}
.barcont{
    margin-bottom: 10px;
    font-family: 'Bold'; 
    font-size: 20px;
}
h3 {
    color: #555555;
}
h3 span{
    color:#E93656;
}
@media screen and (max-width: 320px) 
{
    div.progresspercent
    {
        margin: 0 auto;
    }
}
/* END */
/* My Contact DIV */
.contact {
    display: flex;
    
}
.mycontact{
    display: flex;
    background-color: #131A36;
    height: 210px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.circle{
    height: 90px;
    width: 90px;
    background-color: #131A36;
    border-radius: 100%;
    display: inline-block;
    border: 2px dashed red;
    text-align: center;
    padding: 23px;
}
.circle i {
    color: #FFFFFF;

}
.circle:hover{
    background-color: #E93656;
    border: 2px solid #E93656;
    cursor: pointer;
}
.mycontact h3 {
    font-family: 'Bold';
    color: #FFFFFF;
    font-size: 25px;
}
.mycontact span {
    font-family: 'Muli';
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
}   
.phone {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start; */
    padding-left: 29px;
}

.address {
    display: flex;
    flex-direction: column;
    padding-left: 29px;

}
.address h3 {
    margin: 0;
}
.email {
    display: flex;
    flex-direction: column;
    padding-left: 29px;

}
.sectionone {
    display: flex;
    padding-right: 41px;
    align-items: center;
}
.sectiontwo {
    display: flex;
    padding-left: 51px;
    align-items: center;
}
.sectionthree {
    display: flex;
    padding-left: 51px;
    align-items: center;
}
.sectionthree h3 {
    margin: 0;
}
/* END of the section Mycontact */
/* Start Section skills */